mixin itemCard-m(itemName, description, price, imgUrl)
      li.c-item-card-m
        a.c-item-card-m__content
          div.c-item-card-m__image-wrapper
            img(src="./assets/img/load.png", data-src=imgUrl, class="c-item-card-m__image lazyload" alt=itemName)
          div.c-item-card-m__text
            h3.c-item-card-m__text__title #{itemName}
            //- 商品説明のテキストがないのでとりあえずコメントアウト
            //- p #{description}
            p.c-item-card-m__text__price #[span #{price}円](税抜)